
body{
margin: 0px;
height: 100vh;

}

.block{
    height: 80px;
    display: flex;
    align-items: center;
}

.block__left{
    font-size: arial;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    display: flex; 
    margin-left: 10px;
    width: 45%;
    height: 50px;
    margin-top: 5px;
    
}



.block__line{
    border-left: 3px solid rgb(185, 46, 7);
  height: 600px;
  position: absolute;
  left: 46%;
  top: 0px;
}

.block__circle{
    position: fixed;
    left: 45%;
    background-color: green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.block__right{
    width: 50%;
    height: 50px;
    font-weight: bold;
    /* float: right; */
    margin-right: 0px;

    margin-left: 40px;
    display: flex;
    font-weight: bold;
    align-items: center;
    width: 50%;
}